# Core dependencies
boto3==1.28.64
azure-mgmt-security==1.0.0
google-cloud-storage==2.10.0

# Scanners
scoutsuite==5.14.0
checkov==3.2.517

# Automation
ansible-core==2.15.5
c7n==0.9.50

# Data processing
pyyaml==6.0.1
jsonschema==4.17.3
pandas==2.1.1