# Core dependencies
boto3==1.26.137
azure-mgmt-security==2.0.0
google-cloud-storage==2.10.0

# Scanners
scoutsuite==5.14.0
checkov==3.2.517

# Automation
ansible==2.6.14
c7n==0.9.50

# Data processing
pyyaml==6.0.3
jsonschema==4.17.3
pandas>=2.1.0